.controller.ds4.white {
    background-image: url(bases_mod.png);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svgz);
}

.ds4.white .trigger {
    background-image: url(triggers_mods.png);
}

.ds4.white .bumper {
    background-image: url(bumpers_mod.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svgz);
}

.ds4.white .back, .ds4 .start {
    background-image: url(starts_mod.png);
}

.ds4.white .button {
    background-image: url(faces_mod.png);
}

.ds4.white .stick {
    background-image: url(sticks_mods.png);
}

.ds4.white .face {
    background-image: url(dpads_mod.png);
}
