/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(base_flow1.png);
}

.ds4.white.disconnected {
    background: url(Dos_flow1.png);
}

.ds4.white .trigger {
    background-image: url(triggers_flow1.png);
}

.ds4.white .bumper {
    background-image: url(bumper_flow1.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(touchpad_flow1.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(start_flow1.png);
}

.ds4.white .button {
    background-image: url(face_flow1.png);
}

.ds4.white .stick {
    background-image: url(sticks_flow1.png);
}

.ds4.white .face {
    background-image: url(dpad_flow1.png);
}

/*END PS4 White Controller Styling*/